{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
    <script type="text/javascript" src="{{ base_url() }}assets/js/script.js"></script>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block nav %}
{{parent()}}
{% endblock %}

{% block content %}

<script src="{{ base_url() }}assets/js/common.js"></script>
    <div class="advertising"></div></div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 main">

            {% for item in examples %}
                <div class="LineImg">
                    <img src='../../assets/img/line.png' width='100%' height='25' />
                </div><br/>
                <div class="wrapSlider">
                    <div class="slider">
                        <div>
                            <img src="{{ item.photo_before.0 }}" class="img-fluid">
                        </div>

                        <div>
                            <img src="{{ item.photo_after.0 }}" class="img-fluid">
                        </div>

                        <div>
                            <img src="{{ item.photo_before.1 }}" class="img-fluid">
                        </div>
                        <div>
                            <img src="{{ item.photo_after.1 }}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <h3>{{ examp_cat[item.category] }}</h3>
                <p>{{ item.about| raw }}</p>
            {% endfor %}


            </div> <!--  main  -->
        </div>
    </div>
</section>

<script type="text/javascript" src="{{ base_url() }}assets/js/script.js"></script>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
