{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/libs/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ base_url() }}assets/libs/slick/slick.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}assets/libs/slick/slick.min.js"></script>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block nav %}
{{parent()}}
{% endblock %}

{% block content %}

<script src="{{ base_url() }}assets/js/common.js"></script>
    <div class="advertising"></div></div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 main">
            
            {% for item in examples %}
                <div class="wrapSlider">
                    <div class="slider">
                        <div>
                            <img src="{{ item.photo_before.0 }}" class="img-responsive">           
                        </div>

                        <div>
                            <img src="{{ item.photo_after.0 }}" class="img-responsive">
                        </div>

                        <div>
                            <img src="{{ item.photo_before.1 }}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{{ item.photo_after.1 }}" class="img-responsive">
                        </div>
                    </div>
                </div>
                <h3>{{ cat.category }}</h3>
                <p>{{ item.about }}</p>
            {% endfor %} 

            
            </div> <!--  main  -->
        </div>
    </div>
</section>
           
<script type="text/javascript" src="{{ base_url() }}assets/js/script.js"></script>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
