<!DOCTYPE html>
<html lang="ru">
<head>

{% block scripts %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/libs/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/assets/libs/slick/slick.css">
    <link rel="stylesheet" href="{{ base_url() }}assets/css/bootstrap.min.css">
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{{ base_url() }}/assets/js/jquery-1.11.3.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/libs/slick/slick.min.js"></script>

    <script src="{{ base_url() }}/assets/js/common.js"></script>

{% endblock %}

{% block header %}
</head>
<body>
    <div class="myMain">
        <header class="header">
            <div class="container">
                <div class="row hedFirstRow">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="{{ base_url() }}">
                            <img src="{{ base_url() }}assets/img/logo.png" class="img-responsive">
                        </a>
                        <div class="news">
                            <a href="{{ base_url() }}news">
                                <img src="{{ base_url() }}assets/img/NEWS.gif">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="wrapImg">
                            <img src="{{ base_url() }}img/example/after/1_0.jpg" class="img-responsive"> <!-- для примера, в будующем нужно уточнить какое фото будет выводиться -->
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="language">
                            <a href="ru/">Русский</a>
                            <a href="uk/">Українська</a>
                            <a href="en/">English</a> <!-- ?lang=en -->
                        </div>
                        <div class="regist">
                            <a href="{{ base_url() }}login">{{Header_entrance}}</a>
                            <a href="{{ base_url() }}register">{{Header_registration}}</a>
                        </div>
                        <div class="callBack">
                            <a href="#">{{Header_coll}}
                                <img src="{{ base_url() }}assets/img/callback.png" class="img-responsive"></a>
                            </div>
                            <div class="info">
                                <p>тел. (057)000-00-00</p>
                                <p>моб. (057)000-00-00</p>
                                <p>моб. (057)000-00-00</p>

                            </div>
                        </div>
                    </div>
                    <div class="row hedSecRow">
                        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                            <nav class="nav">
                                <ul class="siteNav">
                                    <li>
                                        <a href="{{ base_url() }}">{{ Menu_main }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}main/examples">{{Menu_example}}</a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}main/education">{{Menu_education}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{Menu_rent}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{Menu_evaluation}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{Menu_reviews}}</a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}main/contact">{{Menu_contacts}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

<section class="firstSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidebar">
                {{ error }}

{% endblock %}

{% block nav %}

    <nav class="secNav">
        <ul class="secSiteNav">
            <li>
                <a href="{{ base_url() }}main/examples/1">{{ LM_pdr }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/2">{{ LM_pol }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/3">{{ LM_brn }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/4">{{ LM_chm }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/5">{{ LM_gls }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/6">{{ LM_atk }}</a>
            </li>
            <li>
                <a href="{{ base_url() }}main/examples/7">{{ LM_pnt }}</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}


{% block footer %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Командос!</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

{% endblock %}