<!DOCTYPE html>
<html lang="ru">
<head>

{% block scripts %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/libs/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ base_url() }}assets/libs/slick/slick.css">
    <link rel="stylesheet" href="{{ base_url() }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}assets/css/bootstrap.min.css.map">
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{{ base_url() }}assets/js/jquery-1.11.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{{ base_url() }}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}assets/libs/slick/slick.min.js"></script>
    <script src="{{ base_url() }}assets/js/common.js"></script>

{% endblock %}

{% block header %}
</head>
<body>
    <div class="myMain">
        <header class="header">
            <div class="container">
                <div class="row hedFirstRow">
                    <div class="col-xs-3">
                        <a href="{{ base_url() }}">
                            <img src="{{ base_url() }}assets/img/logo.png" class="img-fluid">
                        </a>
                        <div class="news">
                            <a href="{{ base_url() }}news">
                                <img src="{{ base_url() }}assets/img/NEWS.gif">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="wrapImg">
                            <img src="{{ base_url() }}img/example/after/1_0.jpg" class="img-fluid"> <!-- для примера, в будующем нужно уточнить какое фото будет выводиться -->
                        </div>
                    </div>
                    <div class="col-xs-3">
                    <div class="language">
                            <a href="/ru">Рус </a>|
                            <a href="/uk"> Укр </a>|
                            <a href="/en">Eng</a> <!-- ?lang=en -->
                        </div>
                        <div class="regist">
                            <a href="{{ base_url() }}login">{{Header_entrance}}</a>
                            <a href="{{ base_url() }}register">{{Header_registration}}</a>
                        </div>
                        <div class="callBack">
                            <a href="#">{{Header_coll}}
                                <img src="{{ base_url() }}assets/img/callback.png" class="img-fluid"></a>
                            </div>
                            <div class="info">
                                <p>(057)000-00-00</p>
                                <p>(057)000-00-00</p>
                                <p>(057)000-00-00</p>

                            </div>
                        </div>
                    </div>
                    <div class="row hedSecRow">
                        <div class="hidden-xs-down">
                            <nav class="nav">
                                <ul class="siteNav">
                                    <li>
                                        <a href="{{ base_url() }}">{{main_menu.Menu_main}}</a>
                                    </li>

                                    <li class="dropdown">
                                        <a id="drop1" href="{{ base_url() }}main/examples" class="dropdown-toggle" data-toggle="dropdown">
                                            {{main_menu.Menu_example}}
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for cat in examp_cat %}
                                                <li style="font-size: 12px;">
                                                    <a href="{{ base_url() }}main/examples/{{ loop.index }}">{{ cat }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}main/education">{{main_menu.Menu_education}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{main_menu.Menu_rent}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{main_menu.Menu_evaluation}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{main_menu.Menu_reviews}}</a>
                                    </li>
                                    <li>
                                        <a href="{{ base_url() }}main/contact">{{main_menu.Menu_contacts}}</a>
                                    </li>
                                    <li>
                                        <a href="#">{{main_menu.Menu_shop}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

                {{ error }}

{% endblock %}

{% block section  %}
        <section class="firstSection">
            <div class="container">
                <div class="row">

{% endblock %}

{% block nav %}
<div class="hidden-xs-down hidden-sm-down col-md-4 col-lg-3 col-xl-3 sidebar">
    <nav class="secNav">
        <ul class="secSiteNav">
            {% for cat in examp_cat %}
                <li>
                    <a href="{{ base_url() }}main/examples/{{ loop.index }}">{{ cat }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}


{% block footer %}

        <footer class="footer container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Командос!</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

{% endblock %}