{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block nav %}
    <nav class="secNav">
        <ul class="secSiteNav">
            {% for item in newsbar %}
                <li>                               
                    <a href="{{ base_url() }}news/index/{{ item.id }}">Новость {{ item.title }}</a>
                </li>  
            {% endfor %}
        </ul>
    </nav>

{% endblock %}

{% block content %}

        <div class="advertising"></div></div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 main">
                
                <h3>Все новости</h3>

                {% for item in news %}   
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.content_text| raw }}</p>
                    <hr>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}