{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block section %}
{{parent()}}
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}

        <div class="advertising"></div></div>
            <div class="col-md-12 col-lg-12 col-xl-12 main">
                <img src="{{examples.0.photo_after.0}}" class="img-fluid">
                <h3>{{examp_cat[examples.0.category]}}</h3>
                <p>{{examples.0.about}}</p>

                <h3>Видео для сайта</h3>
                <div class="embed-responsive embed-responsive-16by9 col-md-12 col-lg-12 col-xl-12">
                    <iframe class="embed-responsive-item" width="854" height="480"
                    src="https://www.youtube.com/embed/bvTD2skPnN4"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}