{% extends 'admin/admin_template.twig' %}

{% block scripts %}
{{parent()}}
<script src="{{ base_url() }}assets/js/jquery-1.11.3.js"></script>
<script src="{{ base_url() }}assets/js/jquery.chained.min.js"></script>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %}

<!--<div class="clear"></div>-->
<section id="main" class="column">
<h4 class="alert_info">{% if error is defined %} {{ 'Ошибка: ' }} {{ error }} {% elseif info is defined %} {{ info }} {% else %} {{ 'Информация' }} {% endif %}</h4>	
		<article class="module width_full">
			<header align="center"><h3>Добавить пользователя</h3></header>
				{{ form_open ('admin/add_user') }}
					<div class="module_content">
						
						<fieldset style="width:23%; float:left; margin-right: 2%; margin-left: 1%;">
							<label>Логин</label>
							<input name="login" value="{{ set_value ('login') }}" type="text" style="width:89%;" autofocus required>
							{{ form_error('login') }}
						</fieldset>
						
						<fieldset style="width:23%; float:left;">
							<label>Пароль</label>
							<input name="password" value="{{ set_value ('password') }}" type="password" style="width:89%;" required>
							{{ form_error('password') }}
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label style="width: 175px;">Ещё пароль</label>
							<input name="password_confirm" value="{{ set_value ('password_confirm') }}" type="password" style="width:89%;" required>
							{{ form_error('password_confirm') }}
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label>E-mail</label>
							<input name="email" value="{{ set_value ('email') }}" type="email" style="width:89%;" required>
							{{ form_error('email') }}
						</fieldset><div class="clear"></div>


						<fieldset style="width:23%; float:left; margin-right: 2%; margin-left: 1%;">
							<label>Имя</label>
							<input name="name" value="{{ set_value ('name') }}" type="text" style="width:89%;" required>
							{{ form_error('name') }}
						</fieldset>
						
						<fieldset style="width:23%; float:left;">
							<label>Фамилия</label>
							<input name="surname" value="{{ set_value ('surname') }}" type="text" style="width:89%;" required>
							{{ form_error('surname') }}
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label style="width: 175px;">Дата рождения</label>
							<input name="birthsday" value="{{ set_value ('birthsday') }}" type="date" style="width:89%;" required>
							{{ form_error('birthsday') }}
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label>Пол</label>
							<select name="sex" style="width:89%;" type="choice" required>
								<option>{{ set_value ('sex') }}</option>
								<option>Мужчина</option>
								<option>Женщина</option>
							</select>
							{{ form_error('sex') }}
						</fieldset><div class="clear"></div>


						<fieldset style="width:23%; float:left; margin-right: 2%; margin-left: 1%;">
							<label style="width: 175px;">Марка авто</label>
							<select id="manufacture_name" name="ManufactureName" style="width:89%;" type="choice">
								<option></option>
		                		{% for manufact in marks %}
		                		<option value="{{ manufact.id }}">
		                		{{ manufact.manufacture }}</option>
		                		{% endfor %}
            				</select>
						</fieldset>
						
						<fieldset style="width:23%; float:left;">
							<label style="width: 175px;">Модель авто</label>
							<select id="model_name" name="ModelName" style="width:89%;" type="choice">
		            			<option></option>
		                		{% for model in models %}
		                		<option value="{{ model.id}}" class="
		                		{{ model.mark_id }}">{{ model.model}}</option>
		                		{% endfor %}
            				</select>
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label style="width: 175px;">Год выпуска авто</label>
							<select name="car_year" style="width:89%;" type="choice">
		            			<option>--</option>
		            			{% set year = 'now'|date('Y') %}
		                		{% for i in year..1970 %}
		                		<option value="{{ i }}">{{ i }}</option>
		                		{% endfor %}
            				</select>
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%;">
							<label style="width: 175px;">Права пользователя</label>
							<select name="user_rights" style="width:89%;" type="choice">
								<option disabled selected hidden></option>
								{% for name, rights in user_right %}
								<option value="{{ rights }}">{{ name }}</option>
								{% endfor %}
							</select>
							{{ form_error('user_rights') }}
						</fieldset><div class="clear"></div>


						<fieldset style="width:23%; float:left; margin-right: 2%; margin-left: 1%;">
							<label>Телефон</label>
							<input name="tel" value="{{ set_value ('tel') }}" type="phone" style="width:89%;" required>
							{{ form_error('tel') }}
						</fieldset>
						
						<fieldset style="width:23%; float:left;">
							<label>Дополнительно</label>
							<input name="" value="" type="text" style="width:89%;">
						</fieldset>

						<fieldset style="width:5%; float:left; margin-left: 2%;">
							<label>Вкл/Выкл</label>
							<input name='status' type='checkbox' style="width:25%;" checked>
						</fieldset>

						<fieldset style="width:23%; float:left; margin-left: 2%; margin-right: 4%;">
							<label>Аватар</label>
							<input type="file" value="Добавить" class="alt_btn">
						</fieldset>

						<div>
							<img height="100px" width="100px" align="center" border="1px" src="{{ base_url() }}img/avatars/posipaka.jpg">
						</div>
						<div class="clear"></div>
					
					</div>
					
					<footer>
						<div class="submit_link">
							<input type="submit" value="Добавить" class="alt_btn">
							<input type="reset" value="Очистить">
						</div>
					</footer>
			{{ form_close() }}

			<script type="text/javascript">
				$("#model_name").chained("#manufacture_name");
			</script>
		</article><!-- end of post new article -->
</section>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}