{% extends 'admin/admin_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %}

<section id="main" class="column">
	<h4 class="alert_info">{% if error is defined %} {{ 'Ошибка: ' }} {{ error }} {% elseif info is defined %} {{ info }} {% else %} {{ 'Информация' }} {% endif %}</h4>		
	<article class="module width_full">
	<header><h3 class="tabs_involved" align="center">Все пользователи</h3></header>

	<div class="tab_container">
		<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th></th> 
				<th>Логин</th> 
				<th>Имя и Фамилия</th> 
				<th>Пол</th> 
				<th>День рождения</th>
				<th>Телефон</th>
				<th>E-mail</th>
				<th>Авто</th>
				<th>Права доступа</th>
				<th>Дата создания</th>
				<th>Аватар</th> 
				<th>Включен</th>
				<th>Действия</th>
			</tr> 
		</thead> 
		<tbody> 
			{% for user in users %} 
			<tr align='center'> 
				<td><input type="checkbox"></td> 
				<td>{{user.login}}</td> 
				<td>{{user.name}} {{user.surname}}</td>
				<td>{{user.sex}}</td>
				<td>{{user.birthsday}}</td>
				<td>{{user.tel}}</td>
				<td>{{user.email}}</td>
				<td>{{user.mark}} {{user.model}} {{user.car_year}}</td>
				<td>{% if user.user_rights == 2 %}{{'Админ'}}{% elseif user.user_rights == 1 %}{{'Пользователь'}}{% else %}{{'-'}}{% endif %}</td>
				<td>{{user.user_created}}</td> 
				<td>{{user.avatar}}</td> 
				<td>{% if user.user_enabled == 1 %}{{'Вкл'}}{% elseif user.user_enabled == 0 %}{{'Выкл'}}{% else %}{{'-'}}{% endif %}</td>
				<td>
					<a href="{{ base_url() }}admin/change_user_status/{{user.id}}/{{user.user_enabled}}"><img type="image" src="{{ base_url() }}assets/img/admin/icn_jump_back.png" alt="Вкл/Выкл" /></a>
					<a href="{{ base_url() }}admin/show_user/{{user.id}}"><img type="image" src="{{ base_url() }}assets/img/admin/icn_photo.png" alt="Просмотр профиля" /></a>
					<a href="{{ base_url() }}admin/delete_item/{{method}}/{{table}}/{{user.id}}"><img type="image" src="{{ base_url() }}assets/img/admin/icn_trash.png" alt="Удалить" /></a>
				</td> 
			</tr> 
			{% endfor %}	
		</tbody> 
		</table>
		</div><!-- end of #tab1 -->
</article><!-- end of content manager article -->
<br>
<br>
{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}