{% extends 'admin/admin_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %}

<article class="module_avto width_3_quarter">
	<header><h3 class="tabs_involved" align="center">Каталог автомобилей</h3></header>

	<div class="tab_container">
		<table class="tablesorter" align="center" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Производитель</th> 
				<th>Модель</th> 
				<th>Удалить</th>
			</tr> 
		</thead> 
		<tbody> 
			{% for avto in cars %} 
			<tr> 
				<td>{{avto.manufacture}}</td> 
				<td>{{avto.model}}</td>
				<td><a href="{{ base_url() }}admin/delete_item/{{avto.id}}%3Dcars_model"><img src="{{ base_url() }}assets/img/admin/icn_trash.png" alt="Удалить"></a></td>
			</tr> 
			{% endfor %}
		</tbody> 
		</table>
		
		<div>
			{{ form_open ('/admin/add_car') }}
				<input type="text" id="mark" name="mark" placeholder="Производитель авто">
	            <input type="text" id="model" name="model" placeholder="Модель">
				<input type="submit" value="Добавить" class="alt_btn">
        	{{ form_close }}
        </div>
	</div><!-- end of #tab1 -->
</article><!-- end of content manager article -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}