{% extends 'admin/admin_template.twig' %}

{% block scripts %}
{{parent()}}
<script src="{{ base_url() }}assets/js/jquery-1.11.3.js"></script>
<script src="{{ base_url() }}assets/js/jquery.chained.min.js"></script>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %} 

<section id="main" class="column height_half">
	<h4 class="alert_info">{% if error is defined %} {{ 'Ошибка: ' }} {{ error }} {% elseif info is defined %} {{ info }} {% else %} {{ 'Информация' }} {% endif %}</h4>	
	<article class="module width_full height_half">
		<header><h3>Каталог автомобилей</h3></header>
		
		{{ form_open ('admin/delete_car') }}
			<div class="module_content">
				<fieldset style="width:30%; float:left; margin-right: 3%; margin-left: 1%;"> 
					<label style="width:175px;">Производитель авто (марка)</label>
					<select id="manufacture_name" name="ManufactureName" class="form-control-select" style="width:92%">
						<option>-</option>
				        {% for manufact in marks %}
				        <option value="{{ manufact.id }}">
				        {{ manufact.manufacture }}</option>
				        {% endfor %}
		            </select>
				</fieldset>
			
				<fieldset style="width:30%; float:left;"> 
					<label style="width:175px;">Модель авто</label>
					<select id="model_name" name="ModelName" class="form-control-select" style="width:92%">
				        <option></option>
				        {% for model in models %}
				        <option value="{{ model.id}}" class="
				        {{ model.mark_id }}">{{ model.model}}</option>
				        {% endfor %}
		            </select>
				</fieldset>

				<div style="width:30%; height:100%; float:left; margin-left: 5%; margin-top: 3%;">
					<input type="submit" formaction="delete_car" value="Удалить" class="alt_btn">
				</div>
		{{ form_close }}
		<div class="clear"></div>

		{{ form_open ('/admin/add_car') }}
				<fieldset style="width:30%; float:left; margin-right: 3%; margin-left: 1%;"> 
					<label style="width:175px;">Производитель авто (марка)</label>
					<input type="text" id="mark" name="mark" placeholder="Производитель авто" style="width:87%;">
				</fieldset>
			
				<fieldset style="width:30%; float:left;"> 
					<label style="width:175px;">Модель авто</label>
					<input type="text" id="model" name="model" placeholder="Модель" style="width:87%;">
				</fieldset>

				<div style="width:30%; height:100%; float:left; margin-left: 5%; margin-top: 3%;">
					<input type="submit" formaction="add_car" value="Добавить" class="alt_btn">
				</div>
			</div>
		{{ form_close }}
		<br>
		<br>
		        
			</div><!-- end of #tab1 -->
	</article><!-- end of content manager article -->
</section>

<script type="text/javascript">
	$("#model_name").chained("#manufacture_name");
</script>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}