{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/css/bootstrap-datetimepicker.css">
<script src="{{ base_url() }}assets/js/jquery-1.11.3.js"></script>
<script src="{{ base_url() }}assets/js/jquery.chained.min.js"></script>
<script src="{{ base_url() }}assets/js/moment-with-locales.js"></script>
<script src="{{ base_url() }}assets/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block section %}
{{parent()}}
{% endblock %}

{% block content %}
</div>
    </div>
        <div class="hidden-xs-down col-sm-2 col-md-3 col-lg-4 col-xl-4">
        </div>

		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
			<div class="page-header">
				<h1>Регистрация</h1>
			</div>
			{{ error }}
			{{ form_open ('/register') }}
				<fieldset class="form-group">
					<label class="form-control-label" for="login">Логин</label>
					<input type="text" class="form-control" id="login" name="login" value="{{ set_value('login') }}" placeholder="Введите логин" autofocus required>
					{{ form_error('login') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="name">Имя</label>
					<input type="text" class="form-control" id="name" name="name" value="{{ set_value('name') }}" placeholder="Введите имя" required>
					{{ form_error('name') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="surname">Фамилия</label>
					<input type="text" class="form-control" id="surname" name="surname" value="{{ set_value('surname') }}" placeholder="Введите фамилию" required>
					{{ form_error('surname') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="sex">Пол</label>
					<select id="sex" name="sex" class="form-control" type="choice" required>
						<option disabled selected hidden>Введите пол</option>
						<option>мужчина</option>
						<option>женщина</option>
					</select>
					{{ form_error('sex') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="birthsday">Дата рождения</label>
					<div class="input-group date" id="birthsday">
    					<input type="datetime" name="birthsday" class="form-control" readonly="true" value="{{ set_value('birthsday') }}" placeholder="Введите дату рождения" required>
    					<span class="input-group-addon">
      						<span><img src="{{ base_url() }}assets/img/glyphicons-calendar.png"></span>
    					</span>
  					</div>
  					{{ form_error('birthsday') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="tel">Телефон</label><br>
                        <select id="tel_prefix" name="tel_prefix" class="form-control-select" style="width: 25%; float: left;" required>
                            <option disabled selected hidden>Код</option>
                            <option>38099</option>
                            <option>38077</option>
                            <option>38777</option>
                            <option>38007</option>
                        </select>
    					<input type="phone" class="form-control" id="tel" name="tel" value="{{ set_value('tel') }}" style="width: 70%; float: right;" placeholder="1234567" required>
					{{ form_error('tel') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="email">E-mail</label>
					<input type="email" class="form-control" id="email" name="email" value="{{ set_value('email') }}" placeholder="Введите ваш e-mail" required>
					{{ form_error('email') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="Avto">У Вас есть автомобиль?</label><input type="checkbox" style="width:5%" id="car">
					<p><select id="manufacture_name" name="ManufactureName" class="form-control-select" hidden="true">
						<option></option>
		                {% for manufact in marks %}
		                <option value="{{ manufact.id }}">
		                {{ manufact.manufacture }}</option>
		                {% endfor %}
            		</select>

            		<select id="model_name" name="ModelName" class="form-control-select" hidden="true">
		            	<option></option>
		                {% for model in models %}
		                <option value="{{ model.id}}" class="
		                {{ model.mark_id }}">{{ model.model}}</option>
		                {% endfor %}
            		</select>

            		<select id="year" name="car_year" class="form-control-select" hidden="true">
            			<option></option>
            			{% set year = 'now'|date('Y') %}
                		{% for i in year..1970 %}
                		<option value="{{ i }}">{{ i }}</option>
                		{% endfor %}
    				</select>

					<p class="help-block"> </p>
				</fieldset>

				<fieldset class="form-group">
					<label class="form-control-label" for="password">Пароль</label>
					<input type="password" class="form-control" id="password" name="password" value="{{ set_value('password') }}" placeholder="Введите ваш пароль" required>
					{{ form_error('password') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group">
					<label class="form-control-label" for="password_confirm">Повторите пароль</label>
					<input type="password" class="form-control" id="password_confirm" name="password_confirm" value="{{ set_value('password_confirm') }}" placeholder="Повторите пароль" required>
					{{ form_error('password_confirm') }}
					<p class="help-block"> </p>
				</fieldset>
				<fieldset class="form-group" style="text-align: center;">
					<input type="submit" class="btn btn-primary-outline" value="Регистрация">
                    <input type="reset" class="btn btn-secondary-outline" value="Очистить">
				</fieldset>
			{{ form_close() }}

			<script>
  				var car_enabled = function () 
  				{
    				if ($("#car").is(":checked")) 
    				{
        				$('#manufacture_name').prop('hidden', false);
        				$('#model_name').prop('hidden', false);
        				$('#year').prop('hidden', false);
    				}
    				
    				else 
    				{
        				$('#manufacture_name').prop('hidden', 'hidden');
        				$('#model_name').prop('hidden', 'hidden');
        				$('#year').prop('hidden', 'hidden');
    				}
  				};
  
  				$(car_enabled);
  				$("#car").change(car_enabled);
			</script>			

			<script type="text/javascript">
				$("#model_name").chained("#manufacture_name");
			</script>

			<script type="text/javascript">
  				$(function () {
    				$('#birthsday').datetimepicker({pickTime: false, language: 'ru', format: "YYYY-MM-DD", maxDate: new Date()});
  				});
			</script>
			
		</div>
        <div class="hidden-xs-down col-sm-2 col-md-3 col-lg-4 col-xl-4">
        </div>
	</div><!-- .row -->
</div><!-- .container -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}