{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block content %}
</div>
    </div>

	<div class="col-md-12">
		<div class="page-header">
			<h1>Авторизация</h1>
		</div>
		{{ error }}
		{{ form_open ('/admin/login') }}
			<div class="form-group">
				<label for="Login">Логин</label>
				<input type="text" class="form-control" id="login" name="login" value="{{ set_value ('login') }}" placeholder="Ваш логин" autofocus required>
			</div>
			<div class="form-group">
				<label for="password">Пароль</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Ваш пароль" required>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Войти">
			</div>
		{{ form_close() }}
		</div>
	</div><!-- .row -->
</div><!-- .container -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}