{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block content %}
</div>
    </div>

<meta http-equiv="Refresh" content="2; url={{ base_url() }}admin"
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Привет, {{ user_login }}!</h2>
			</div>
			<p>Вы успешно авторизованы и будете перенаправлены на главную страницу.</p>
		</div>
	</div><!-- .row -->
</div><!-- .container -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}