{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block content %}
</div>
    </div>

{{ '<meta http-equiv="Refresh" content="2; url=http://pdr/admin">' }}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Спасибо за то что были с нами!</h1>
			</div>
			<p>Сеанс {{ user_login }} успешно завершен.</p>
		</div>
	</div><!-- .row -->
</div><!-- .container -->

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}